.bookyourflatontherightdate {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.roomDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  margin-bottom: 0!important;
  line-height: 1!important;
}

.heading{
  word-wrap: break-word;
  width: 100%;
}

/* back button */
.btnBack{
  align-self: flex-start;
  border: none;
  background-color: transparent;
  font-size: var(--main-link);
  color: var(--text-color);
  text-decoration: none;
}