.surveySection{
    width: 80%;
    max-width: 60rem;
    display: flex; /* add flex to the children elements of section */
    flex-direction: column;
    gap: 1.8rem;
}
@media screen and (max-width: 35rem) {
    .surveySection{
        width: 90%;
        font-size: 4.6vw;
    }
}